body {
	background: black;
	color: whitesmoke;
}

#mainContainer {
	top: 1vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainTime {
	font-size: 30vw;
	cursor: pointer;
}

#settings {
	position: absolute;
	font-size: 5vh;
	margin: 0;
	left: -1px;
	background: #050d07;
	top: 1vh;
	padding-top: 0vh;
	width: calc(100%);
	border-bottom: 5px solid white;
	border-left: none;
	border-right: none;
	border-radius: 0.2vh;
	z-index: 1;
	transition: transform 0.4s ease, opacity 0.5s cubic-bezier(0, 1.02, 0.48, 1);
	opacity: 0;
	transform: translate(0, -100%);
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	/* grid-template-rows: repeat(3, 1fr); */
	/* height: 100vh; */
	line-height: 3vh;
}
#settings .button,
#settings select,
input {
	font-size: 2vh;
	min-width: 3.5vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}
.settings-grid {
	border-left: 0.25vh solid white;
	border-right: 0.25vh solid white;
	border-top: 0.25vh solid white;
	background-color: #0a190e;
}
.period-input-div {
	font-size: 2vh;
	/* border-style: solid; */
	/* border-width: 0.5vh; */
	/* border-color: grey; */
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.period-input-box {
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	/* max-width: 20%; */
	/* height: 150%; */
	/* width: 50vw; */
	max-width: 3vw;
	min-width: 0;
}
#dev-settings {
	display: none;
}

.menu-button {
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

footer {
	text-align: center;
}

.bar1,
.bar2,
.bar3 {
	width: 6vh;
	height: 1vh;
	background-color: white;
	margin: 1vh 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 2vh) rotate(-45deg);
	/* width: 3vh; */
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -2vh) rotate(45deg);
}

#settings.change {
	transform: translate(0, 0vh);
	opacity: 1;
}
.menu-button.change1 {
	display:none;
}
.footer.change1 {
	display:none;
}
#dev-settings.change {
	display: block;
}

input {
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	display: inline-block;
}
.selector {
	color: white;
	font-size: 2.5vh;
}

.hour-switch {
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	display: inline-block;
	background: #ccc;
	line-height: 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 4vh;
	height: 3vh;
	bottom: 0;
	top: 0;
	margin: 0;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 0.5vh;
	top: 2.5vh;
	width: 4vh;
	left: 0vh;
	bottom: 0vh;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: greenyellow;
}

input:focus + .slider {
	box-shadow: 0 0 0.1vh greenyellow;
}

input:checked + .slider:before {
	/* -webkit-transform: translateX(26px); */
	/* -ms-transform: translateX(26px); */
	transform: translateY(-2.6vh);
}
.am-pm {
	display: none;
	font-size: 2vh;
	min-width: 3.5vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}
.am-pm.change {
	display: inline-block;
}
.custom-file-upload {
	display: inline-block;
	/* padding-left: 2.5%; */
	/* padding-right: 2.5%; */
	cursor: pointer;
	background-color: #e9e9ed;
	color: black;
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	width: 92.625%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	/* width: 92.5%; */
	border-color: #6c9d1d;
	text-align: center;
}

input[type="file"] {
	display: none;
}

.file-name {
	margin-left: 10px;
	font-size: 2vh;
	font-family: sans-serif;
}
.period-button {
	text-align: center;
	margin-left: 2.5%;
	width: 95%;
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}

.reset-button {
	min-width: 0;
	width: 1.5vh;
	height: auto;
	margin: 0;
	position: relative;
	top: 0.75vh;
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}
