body {
	background: black;
	color: whitesmoke;
}

#mainContainer {
	top: 1vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainTime {
	font-size: 30vw;
}

#settings {
	position: absolute;
	font-size: 5vh;
	margin-left: -7.5px;
	background: black;
	top: 0vh;
	padding-top: 7vh;
	width: 100%;
	border-bottom: 5px solid white;
	border-left: none;
	border-right: none;
	border-radius: 0.2vh;
	z-index: 1;
	transition: transform 0.4s ease, opacity 0.5s cubic-bezier(0, 1.02, 0.48, 1);
	opacity: 0;
	transform: translate(0, -100%);
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	/* grid-template-rows: repeat(3, 1fr); */
	/* height: 100vh; */
}
#settings button,
#settings select,
input {
	font-size: 2vh;
	min-width: 3.5vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}
.settings-grid {
	border-left: 0.1vw solid white;
	border-right: 0.1vw solid white;
	border-top: 0.1vw solid white;
	background-color: black;
}
.period-input-div {
	font-size: 2vh;
	/* border-style: solid; */
	/* border-width: 0.5vh; */
	/* border-color: grey; */
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.period-input-box {
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	/* max-width: 20%; */
	/* height: 150%; */
	/* width: 50vw; */
	max-width: 3vw;
	/* min-width: 1ch; */
}
#dev-settings {
	display: none;
}

.menu-button {
	position: absolute;
	cursor: cell;
	z-index: 2;
}

footer {
	text-align: center;
}

.bar1,
.bar2,
.bar3 {
	width: 6vh;
	height: 1vh;
	background-color: white;
	margin: 1vh 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 2vh) rotate(-45deg);
	/* width: 3vh; */
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -2vh) rotate(45deg);
}

#settings.change {
	transform: translate(0, 0vh);
	opacity: 1;
}
#dev-settings.change {
	display: block;
}

input {
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	display: inline-block;
}
.selector {
	color: white;
	font-size: 2.5vh;
}
