body {
	background: black;
	color: whitesmoke;
}
/* @media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
} */

#mainContainer {
	top: 1vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainTime {
	font-size: 30vw;
	cursor: pointer;
}

#settings {
	position: absolute;
	font-size: 5vh;
	margin: 0;
	left: -1px;
	background: #050d07;
	top: 0vh;
	padding-top: 0vh;
	width: calc(100%);
	border-bottom: 5px solid white;
	border-left: none;
	border-right: none;
	border-radius: 0.2vh;
	z-index: 1;
	transition: transform 0.2s ease, opacity 0.2s cubic-bezier(0, 1.02, 0.48, 1);
	opacity: 0;
	transform: translate(0, -100%);
	display: grid;
	grid-template-columns: 33% 33% 33%;
	/* grid-template-rows: repeat(3, 1fr); */
	/* height: 100vh; */
	line-height: 3vh;
}
/* #settings .button,
#settings select,
input {
	font-size: 2vh;
	min-width: 3.5vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
} */
#draft-name,
#append-period,
#remove-period,
.remove-schedule {
	font-size: 2vh;
	min-width: 3.5vh;
	height: 4vh;
	line-height: 1vh;
	margin: 0;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}
.settings-grid {
	border-left: 0.25vh solid white;
	border-right: 0.25vh solid white;
	border-top: 0.25vh solid white;
	background-color: #0a190e;
}
.period-input-div {
	font-size: 2vh;
	/* border-style: solid; */
	/* border-width: 0.5vh; */
	/* border-color: grey; */
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	margin-left: 0.25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.period-input-box {
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	max-width: 3vw;
	min-width: 0;
}
#dev-settings {
	display: none;
}

.menu-button {
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

footer {
	text-align: center;
}

.bar1,
.bar2,
.bar3 {
	width: 6vh;
	height: 1vh;
	background-color: white;
	/* margin: 1vh 0; */
	margin-bottom: 1vh;
	margin-left: 0.5vh;
	margin-top: 0.5vh;
	transition: 0.3s;
}

.change .bar1 {
	transform: translate(0, 2vh) rotate(-45deg);
	/* width: 3vh; */
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -2vh) rotate(45deg);
}

#settings.change {
	transform: translate(0, 0vh);
	opacity: 1;
}
.menu-button.change1 {
	display: none;
}
.footer.change1 {
	display: none;
}
#dev-settings.change {
	display: block;
}

input {
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	display: inline-block;
}
.selector {
	color: white;
	font-size: 2.5vh;
}

.hour-switch {
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
	display: inline-block;
	background: #ccc;
	line-height: 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 5vh;
	height: 4vh;
	bottom: 0;
	top: 0;
	margin: 0;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 0.5vh;
	top: 3.5vh;
	width: 100%;
	left: 0vh;
	bottom: 0vh;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: greenyellow;
}

input:focus + .slider {
	box-shadow: 0 0 0.1vh greenyellow;
}

input:checked + .slider:before {
	/* -webkit-transform: translateX(26px); */
	/* -ms-transform: translateX(26px); */
	transform: translateY(-3.5vh);
}
.am-pm {
	display: none;
	font-size: 2vh;
	min-width: 3.5vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}
.am-pm.change {
	display: inline-block;
}
.custom-file-upload {
	display: inline-block;
	/* padding-left: 2.5%; */
	/* padding-right: 2.5%; */
	cursor: pointer;
	background-color: #e9e9ed;
	color: black;
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	width: 92%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	/* width: 92.5%; */
	border-color: #6c9d1d;
	text-align: center;
}

input[type="file"] {
	display: none;
}

.file-name {
	margin-left: 10px;
	font-size: 2vh;
	font-family: sans-serif;
}
.period-button {
	text-align: center;
	margin-left: 2.5%;
	width: 95%;
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}

.reset-button {
	min-width: 0;
	width: 1.5vh;
	height: auto;
	margin: 0;
	position: relative;
	top: 0.75vh;
	font-size: 2vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: grey;
}

#log-container {
	display: inline-block;
	line-height: 0;
	left: 9vh;
	position: relative;
	/* top: -2.5vh; */
	font-size: 2vh;
	min-width: 300%;
	min-height: 7vh;
	display: flex;
	align-items: center;
	/* background: aliceblue; */
}

.middle-align {
	width: 100%;
	display: flex;
	justify-content: center;
}
.custom-select {
	position: relative;
	/* display: inline-block; */
	width: 90%;
	/* display: flex; */
	/* justify-content: center; */
	/* flex-direction: column; */
	padding-top: 1vh;
	padding-bottom: 0vh;
}

.schedules-grouper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
}
.current-chedule-wrapper {
	display: grid;
	grid-template-columns: auto 5vw;
	grid-auto-flow: column;
	cursor: pointer;
	border: 0.25vh solid white;
	border-radius: .25vh;
	background-color: #101010;
}

.select-box {
	border: 0.25vh solid #ccc;
	cursor: pointer;
	/* border-left: none; */
	/* border-top: none; */
	width: auto;
	padding: 0.25vh;
	background: #e9e9ed;
	font-size: 2vh;
	color: black;
}
#schedule-tooltip {
	white-space: pre-line;
	/* font-family: monospace; */
	line-height: 1.5;
	width: 100%;
	/* margin-left:0; */
	font-size: calc(0.5vh + 0.75vw);
	line-height: 1.5vh;
	border-radius: .25vh;
	/* width: 75%; */
}
.schedule-tooltip-container {
	width: 50%;
	padding: 0;
	padding-left: .5vh;
	margin-left: -0.25vh;
	border: 0.25vh solid white;
	cursor: pointer;
	background: #101010;
	font-size: 2vh;
	color: white;
}

.options {
	display: none;
	position: static;
	top: 100%;
	width: 100%;
	left: 0;
	/* margin-left: .5vh; */
	/* margin-left: 2.5%; */
	border: 0.25vh solid white;
	background: #101010;
	z-index: 1;
	color: white;
	border-radius: .25vh;
}
#schedules {
	border: none;
	background: none;
	position: absolute;
	width: 100%;
}

.options.change {
	display: block;
}

.option {
	/* font-size: 2vh; */
	font-size: calc(0.6vh + 0.8vw);
	padding-left: .5vh;
	line-height: 1.75vh;
	display: flex;
	/* margin-right: .5vh; */
	justify-content: space-between;
	align-items: center;
	user-select: none;
}
.option + .option {
	border-top: 0.25vh solid white;
}

.option:hover {
	background-color: yellowgreen;
}

.remove-schedule {
	display: inline-block;
	margin-right: 1vh;
}

.drag-ghost {
	opacity: 0.5;
	background-color: #444;
}

.ixport-wrapper {
	width: 100%;
	border: 0.35vh solid white;
	background: #101010;
	margin-top: 2vh;
	margin-left: 5%;
	width: 90%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
.ixport-description {
	text-align: left;
	line-height: 2vh;
	margin: 0vh;
	margin-bottom: 2vh;
	margin-top: 2vh;
	font-size: 2vh;
	margin-left: 1vh;
	margin-right: 1vh;
	display: inline-block;
}

.ixport-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	/* white-space: unset; */
	/* width: 50%; */
}

.ixport-botton-section {
	display: inline-flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin-top: 1vh;
	margin-right: 1vh;
	margin-bottom: 1vh;
	line-height: 1vh;
}

.ixport-button {
	/* display: inline-block; */
	filter: invert(1);
	width: 1vh;
	font-size: 2vh;
	min-width: 3.5vh;
	border-style: solid;
	border-width: 0.25vh;
	border-color: #000000;
}

.ixport-text {
	font-size: calc(0.35vh + 0.75vw);
	/* font-size: 1.5vh; */
	margin: 0;
	margin-top: 0.5vh;
	line-height: calc(0.35vh + 0.75vw);
	text-align: center;
}

.ixport-button img {
	cursor: pointer;
	width: 48px;
	/* width: .1vw;  */
	height: 48px;
	/* height: .1vw; */
	margin: 0;
	/* margin-left: -.035vh; */
}

.danger-button-inverse {
	background: #c7ffff;
}
.danger-button {
	background: #380000;
	color: white;
}

#period-display {
	position: absolute;
	/* color: white; */
	user-select: none;
	margin: 0;
}

.options-seperator {
	height: 0.2vh;
	border: none;
	background-color: white;
	width: 100%;
}
.options-seperator-mini {
	height: 0.2vh;
	border: none;
	background-color: white;
	opacity: 0.3;
	width: 90%;
}

.organizer-button-grid {
	display: grid;
	grid-template-columns: auto 7vw;
	grid-auto-flow: column;
	cursor: pointer;
	/* overflow-x: hidden; */
}
.down-img {
	/* margin-top: 1.5vh; */
	margin-top: -0.5vh;
	width: calc(1vh + 2vw);
	/* width: 2vh; */
	/* height: 2vh; */
	height: calc(1vh + 2vw);
	filter: invert(1);
}

.organizer-text {
	font-size: 2.5vh;
	margin-left: 0;
	text-align: center;
	line-height: 2.25vh;
	margin: 0;
	user-select: none;
}

.organizer-box {
	display: none;
}
.organizer-box.change {
	display: block;
}
#draft-name {
	margin-right: 2.5%;
	margin-left: 2.5%;
	min-width: 0;
	width: 90%;
	text-align: center;
	border-color: white;
	background-color: #101010;
	border-radius: 0.5vh;
	color: white;
	caret-color: white;
	border-width: 0.25vh;
}
#draft-name::placeholder {
	color: lightgrey;
}
